/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Video player styling */
.video-container { position: relative; /* keeps aspect ratio */ padding-bottom: 56.25%; /* fine tunes video positioning */ padding-top: 60px; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #333; /* B0B0B0 */
background-color: #E6E6E6; /*#aaa;*/
}

a.anchor{display: block; position: relative; top: -250px; visibility: hidden;}

.navbar .nav { float: right; }
.hero-unit { padding: 0px; margin: 0px; background-color: #A5A5A5; }

.navbar-inner {
  min-height: 38px;
  height: 38px;
  min-width: 200px;
}
  
  
.logo {
	background-image: url('../img/logo.png');    
	background-repeat: off;
	width: 168px;
	height: 40px;
	margin-top: -10px;
	margin-bottom: -10px;
}

.social div {
	float: right;
	/*width:100px;*/
	height:34px;
}

.social-icon {
	margin-top:2px;
	width: 32px;
	height: 32px;
}

.sectionTitle a {
	color: #333;
	text-decoration: none;
}
.sectionTitle a:hover {
	color: #555;
	text-decoration: none;	
}


/*  WEB FONTS  */

h2 {
	 font-family: "Nothing You Could Do";
	 font-weight: 800;
	 font-style: normal;
	 font-size: 36px;
	 line-height: 30px;
}



